*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
gradlew
gradlew.bat

app/src/main/assets/css/
app/src/main/assets/fonts/
app/src/main/assets/js/
app/src/main/assets/index.html
app/src/main/assets/favicon.ico